.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal {
    max-width: 50vw;
    max-height: 61vh;
    position: relative;
    background: white;
    padding: 1rem;
    border-radius: 8px;
    transform: scale(1);
}

.mini-map-img {
    display: block;
    width: calc(100% * 1);
    height: auto;
}

.player-marker {
    position: absolute;
    width: 8px;
    height: 8px;
    background: red;
    border-radius: 50%;
}

.close-btn {
    position: absolute;
    top: 4px;
    right: 4px;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}