<div class="viewport" #viewport>
    <div class="world" [ngStyle]="getWorldStyle()">
        <img class="Map" src="assets/images/farm.png" draggable="false" />

        <ng-container *ngFor="let p of players | keyvalue">
            <div class="Character" [class.is-walking]="p.value.id === playerId && isWalking" [attr.data-color]="p.value.color" [attr.data-direction]="p.value.direction" [ngStyle]="{ transform: getPlayerTransform(p.value) }">
                <div class="Character_shadow"></div>
                <div class="Character_sprite"></div>
                <div class="Character_name-container">
                    <span class="Character_name">{{ p.value.name }}</span>
                    <span class="Character_coins">{{ p.value.coins }}</span>
                </div>
                <div class="Character_you-arrow" *ngIf="p.value.id === playerId"></div>
            </div>
        </ng-container>

        <ng-container *ngFor="let c of coins | keyvalue">
            <div class="Coin" [ngStyle]="{ transform: getCoinTransform(c.value) }">
                <div class="Coin_shadow"></div>
                <div class="Coin_sprite"></div>
            </div>
        </ng-container>

        <!-- <img class="Map" src="assets/images/farm_foreground.png" draggable="false" /> -->

        <ng-container *ngFor="let b of boundaries">
            <div class="BoundaryDebug" [style.width.px]="b.width" [style.height.px]="b.height" [style.transform]="'translate3d(' + b.x + 'px,' + b.y + 'px,0)'"></div>
        </ng-container>
    </div>
</div>



<div class="player-info">
    <div>
        <label for="player-name">Your Name</label>
        <input id="player-name" maxlength="10" type="text" [(ngModel)]="playerName" (change)="updateName()" />
    </div>
    <!-- <div>
        <button (click)="changeColor()">Change Color</button>
    </div> -->
</div>